<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rwz.lib_comm" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 获取设备序列号需要 详：DeviceInfoUtil -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
